@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700&display=swap");

:root {
	--font-color: #2c2c2c;
	--font-color-sec: #dbdbdb;
	--red-color: #8b0000;
	--yellow-color: #ffff00;
	--blue-color: #00367e;
	--bg-color: #1c1c1c;
	--bg-popup-color: #dbdbdbe6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border-style: none;
	font-size: 14px;
	font-weight: 500;
	font-family: "press start 2P";
}

body,
html {
	background-color: var(--red-color);
	width: 100%;
	height: 100vh;
}

header {
	display: flex;
	justify-content: center;
}

header h1 {
	margin-top: 1.2rem;
}

input {
	background-color: var(--font-color);
	padding: 0.4rem 1rem;
}

nav * {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	color: var(--font-color-sec);
}

main {
	width: 90%;
	height: 80vh;
	background-color: var(--bg-color);
	margin: auto;
	border: 0.3rem solid var(--font-color);
	box-shadow: var(--font-color-sec) 0px 1rem 2rem -12px inset,
		var(--font-color-sec) 0px 0.5rem 1.5rem -12px inset;
	padding: 1.5rem 0;
	border-radius: 0.3rem;
	z-index: 0;
}

footer {
	margin: auto;
	width: 80%;
	height: 6vh;
	margin-top: 1vh;
	background-color: var(--font-color);
	color: var(--font-color-sec);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.2rem;
}

#container-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	overflow: auto;
}

#container-wrapper::-webkit-scrollbar {
	background-color: var(--font-color);
	width: 0.6rem;
	/* border: 0.1rem var(--blue-color) solid; */
}

#container-wrapper::-webkit-scrollbar-thumb {
	background-color: var(--yellow-color);
	border-radius: 0.5rem;
	border: 0.1rem solid var(--blue-color);
}

.btn-more {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	cursor: pointer;
}

.title {
	font-family: "Press Start 2P", "roboto";
	font-size: 2.5rem;
	color: var(--yellow-color);
	-webkit-text-stroke-width: 0.15rem;
	-webkit-text-stroke-color: var(--blue-color);
	-webkit-text-fill-color: var(--yellow-color);
	margin-bottom: 1rem;
}

.btn {
	background-color: var(--blue-color);
	border: 0.1rem solid var(--yellow-color);
	width: 6rem;
	height: 2rem;
	margin: 0.5rem;
	cursor: pointer;
	transition: all 0.5s;
	border-radius: 0.2rem;
}

.btn:hover {
	background-color: var(--yellow-color);
	border: 0.1rem solid var(--blue-color);
	color: var(--font-color);
	transition: all 0.5s;
}

.card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 16rem;
	height: 20rem;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.5rem 0 var(--font-color-sec);
	background-color: var(--font-color);
	transition: 0.5s;
	padding: 0.8rem;
}

.card:hover {
	transition: 0.5s;
	background-color: var(--font-color-sec);
	color: var(--font-color);
	cursor: pointer;
	border: 0.2rem solid var(--font-color);
	font-size: 0.1rem;
}

.card-name {
	font-family: "Press Start 2P", sans-serif;
	font-size: 1.2rem;
	-webkit-text-stroke-width: 0.06rem;
	-webkit-text-stroke-color: var(--blue-color);
	-webkit-text-fill-color: var(--yellow-color);
}

.card-name::first-letter {
	text-transform: uppercase;
}

.card-id {
	font-family: "Press Start 2P", sans-serif;
	font-size: 1.2rem;
	-webkit-text-stroke-width: 0.03rem;
	-webkit-text-stroke-color: var(--yellow-color);
	-webkit-text-fill-color: var(--red-color);
}

.card-img {
	width: 80%;
}

.card-img:hover {
	width: 90%;
}

.modal {
	width: 85%;
	height: 75%;
	position: absolute;
	background-color: var(--bg-popup-color);
	border-radius: 0.2rem;
	border-top-left-radius: 2rem;
	visibility: hidden;
	border: 0.3rem solid var(--bg-color);
}

.close-modal {
	width: 3rem;
	height: 3rem;
	margin: 0.2rem;
	background-color: var(--red-color);
	font-family: "Press Start 2P", "roboto";
	font-size: 0.8rem;
	text-align: center;
	padding: 0.5rem;
	border-radius: 2rem;
	cursor: pointer;
	border: 0.2rem solid var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
}

.card-modal {
	width: 90%;
	height: 85%;
	border-radius: 0.4rem;
	padding-top: 4rem;
	border: 0.2rem solid var(--bg-color);
	margin: 3rem auto auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--font-color);
	overflow-y: auto;
}

.card-modal::-webkit-scrollbar {
	background-color: var(--font-color);
	width: 0.6rem;
	/* border: 0.1rem var(--blue-color) solid; */
}

.card-modal::-webkit-scrollbar-thumb {
	background-color: var(--yellow-color);
	border-radius: 0.5rem;
	border: 0.1rem solid var(--blue-color);
}

.card-modal .card-name {
	-webkit-text-stroke-color: var(--red-color);
}

.card-modal .card-name {
	padding: 1rem;
}

.modal-img {
	width: 16rem;
	height: auto;
	background-color: var(--font-color-sec);
	border: 0.2rem solid var(--bg-color);
	margin: 1rem 0;
	border-radius: 0.5rem;
}

.modal-description {
	font-size: 1.3rem;
	color: var(--font-color-sec);
	font-weight: 500;
	border: 1px solid var(--yellow-color);
	background-color: var(--blue-color);
	padding: 1rem;
	margin: 0 0.5rem;
	border-radius: 0.5rem;
	font-family: "press start 2P";
}

.modal-habitat {
	padding: 0.5rem;
	margin: 0 0 0.8rem 0;
	color: var(--yellow-color);
	background-color: var(--bg-color);
	border: 0.2rem solid var(--font-color-sec);
	font-size: 1.2rem;
	border-radius: 0.5rem;
	font-family: "press start 2P";
}

.show-more {
	width: 90%;
	height: 4rem;
	background-color: var(--blue-color);
	border: 1px solid var(--yellow-color);
	color: var(--font-color-sec);
	border-radius: 0.3rem;
}

.show-more:hover {
	background-color: var(--yellow-color);
	border: 1px solid var(--red-color);
	color: var(--font-color);
	border-radius: 0.3rem;
}
